@charset "utf-8";
body header {
    height: 150px;
    background-color: #C41619;
    color: #F1D0AB;
}
body header h1 {
    text-align: center;
    height: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 45px;
}
body footer h6 {
    text-align: center;
    height: 25px;
    padding-top: 12.5px;
    font-size: 18px;
    color: #EBDBB8;
}
body main section {
    width: 800px;
    height: auto;
    background-color: #9DF726;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 20px;
}
section p a:link  ,section p a:visited{
    color: #C41619;
    font-weight: bold;
    text-decoration: none;
}
section p a:hover {
    color: #E3C500;
    font-size: 18px;
    text-decoration: underline;
}


main section h2 {
    padding-bottom: 20px;
}
body header, body nav, body main, body footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
body nav {
    height: 80px;
    padding: 20;
    background-color: #CB650D;
    text-align: center;
    margin-top: 0px;
}
body main {
    background-color: #F5CC1D;
    padding-top: 20px;
}
body footer {
    background-color: #70B706;
    height: 50px;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main section ul {
}
nav ul li , section ul li{
    color: #FFF1B8;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 24px;
}

section ul li {
    height: 80px;
    padding: 20px;
    width: 120px;
    background-color: #70B706;
    text-align: center;
    border-radius: 20px;
    border: thick outset #365B00;
}

#marcador1 {
}
#marcador2 {
}
#marcador3 {
}
#marcador4 {
}
#menu_interno li a:link  , #menu_interno li a:active, #menu_interno li a:visited{
    color: #FF0004;
    font-weight: bolder;
    text-decoration: none;
}
#menu_interno li a:hover {
    color: #1200FF;
    font-weight: bolder;
}
#menu {
    padding-left: 0px;

}
#menu li {
    height: 40px;
    background-color: #C41619;
    width: 100px;
    padding-bottom: 0px;
    padding-top: 4px;
    border: thick outset #790D0F;
    margin-left: 13px;
}
#menu li a {
    color: #F1D0AB;
    font-style: italic;
    text-decoration: none;
    text-align: center;
}
#menu li a:hover {
    color: #9DF726;
}
.tabla_1 {
    border: 3px solid #D34800;
    border-collapse: collapse;
}
.tabla_1 th {
    background-color: #D44C18;
    color: #210000;
    height: 50px;
}
.tabla_1 tbody td {
    background-color: #F79E7C;
    height: 35px;
    text-align: center;
}
.tabla_1 tfoot td {
    background-color: #8A3311;
    color: #FFBCA3;
    text-align: center;
    height: 40px;
}
#tabla_2 {
    border-collapse: collapse;
    height: auto;
    background-color: #8A3311;
    color: #F79E7C;
    text-align: center;
    width: 100%;
}
#tabla_2 td ,#tabla_2 th{
    height: 35px;
    padding: 10px;
    text-align: center;
}

#tabla_2 tbody tr:nth-child(even) {
    background-color: #F79E7C;
    color: #8A3311;
    text-align: left;
}
#tabla_2 tbody tr:nth-child(odd) {
    background-color: #D34800;
}
#tabla_3 {
    background-color: #3B6503;
    color: #F9E17D;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#tabla_3 td {
    padding: 8px;
    width: 280px;
}

#tabla_3 td:nth-child(odd) {
    background-color: #233D01;
}

#tabla_3 td:nth-child(even) {
    background-color: #CDF51C;
    color: #3B6503;
}
#tabla_4 {
    border-collapse: collapse;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    background-color: #F7D74D;
}
#tabla_4 th , #tabla_4 tfoot tr{
    background-color: #B69508;
}
#tabla_4 tbody tr:hover {
    background-color: #FF7111;
}
#tabla_5 {
    background-color: #6AAD05;
    border-collapse: collapse;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    height: auto;
}
#tabla_5 tbody td:hover {
    background-color: #BB4B08;
}

#tabla_5 tr {
    height: 35px;
    text-align: center;
}


#tabla_5 th, #tabla_5 thead tr {
    background-color: #62A105;
    color: #E5BB0A;
}

#tabla_5 tbody tr:nth-child(even) {
    background-color: #F4CE29;
    color: #7C5605;
}
#tabla_5 tbody tr:nth-child(odd) {
    background-color: #D49409;
    color: #F6DA60;
}
#menu_li {
}
#img_1 {
    width: 100%;
    height: auto;
}
#img_2 {
    border-radius: 50%;
    border: 9px solid #F58F1C;
}
#img_flotante_der {
    float: right;
    margin-left: 10px;
}
#img_flotante_izq {
    float: left;
    margin-right: 10px;
}
#img_fondo1 {
    background-image: url(../imagenes/europe-02.jpg);
    background-position: 95% 39%;
    background-attachment: scroll;
}
.img_filtros {
    width: 30%;
    margin: 10px;
    height: auto;
}
#img_filtro_grises {
    filter: grayscale(100%);
}
#img_filtro_invert {
    filter: invert(100%);
}
#img_filtro_satur {
    filter: saturate(40%);
}
#img_filtro_sepia {
    filter: sepia(100%);
}
#img_filtro_opacidad {
    filter: opacity(50%);
}
#img_filtro_contrast {
    filter: contrast(40%);
}
#img_filtro_brillo {
    filter: brightness(200%);
}
#img_filtro_blur {
    filter: blur(7px);

}
.img_multiplesfiltros {
    filter: contrast(30%);
	filter: brightness(30%)
}
.img_sombra {
    width: 60%;
    height: auto;
    -webkit-box-shadow: 13px 13px 32px #417004;
    box-shadow: 13px 13px 32px #417004;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video1 {
    width: 320px;
    height: auto;
}
.video2 {
    width: 100%;
    height: auto;
}
#form1 {
    width: 500px;
    padding: 30px;
    height: 200px;
    font-size: 16px;
}
#form1 label {
    padding: 10px;
}
#form1 input[type=text] {
    height: 20px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
.btn_style    {
    margin: 20px;
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color: #C41619;
}
#form2 label , #form4 label{
    color: #B65308;
    font-size: 18px;
    font-weight: bold;
}
#form2 #Pais , #form4 #Universidad{
    background-color: #C41619;
    color: #F7DB5F;
    font-size: 18px;
}
#form2 select:hover {
    background-color: #F5CC1D;
    color: #2E4F02;
}
.comentario {
    width: 80%;
    height: auto;
    background-color: #F7D852;
}
#form3 #email {
    background-color: #F7D852;
}
#nombre {
}
.tex_style {
    background-color: #F7D852;
}
.selec_style {
    background-color: #C41619;
    color: #F8DF71;
}
section p img {
    width: 15%;
    height: auto;
}
